@import './mixin.scss';
@import './variable.scss';

/* 引入 smiley-sams.woff2 */
@font-face {
  font-family: 'Smiley Sans';
  src: url('/fonts/smiley-sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-width: 375px;
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-size: min(max(3.5vw, 14px), 20px);
  background-color: #000;
  * {
    margin: 0;
    padding: 0;
  }
}
#app {
  flex: 1;
  background-color: #fff;
  font: 1em/1.2 $fontFamily;
  color: #333;
  cursor: url('/img/pointer.png') 1 1, pointer;
  cursor: -webkit-image-set(url('/img/pointer.png') 1x, url('/img/pointer@2x.png') 2x) 1 1, pointer;
}
